<div class="modal fade @_modalClass" id="informationalModal" tabindex="-1" aria-labelledby="informationalModalLabel" role="dialog" style="display:@_modalDisplay">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="informationalModalLabel">Resume and Portfolio</h5>
                <button @onclick="CloseModal" type="button" class="btn-close" data-bs-dismiss="modal" aira-label="Close"></button>
            </div>

            <div class="modal-body">
                <div id="carouselWithIndicators" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselWithIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselWithIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselWithIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#carouselWithIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                    </div>

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <a href="assets/img/publicbackgrounds/OnlineResume.png" target="_blank">

                                <img src="assets/img/publicbackgrounds/OnlineResume.png" class="d-block w-100" alt="Portfolio project carousel image" />
                            </a>
                        </div>

                        <div class="carousel-item">
                            <a href="assets/img/publicbackgrounds/OnlineResume-Home.png" target="_blank">

                                <img src="assets/img/publicbackgrounds/OnlineResume-Home.png" class="d-block w-100" alt="Portfolio project carousel image" />
                            </a>
                        </div>

                        <div class="carousel-item">
                            <a href="assets/img/publicbackgrounds/OnlineResume-Login.png" target="_blank">

                                <img src="assets/img/publicbackgrounds/OnlineResume-Login.png" class="d-block w-100" alt="Portfolio project carousel image" />
                            </a>
                        </div>

                        <div class="carousel-item">
                            <a href="assets/img/publicbackgrounds/OnlineResume-Portfolio.png" target="_blank">

                                <img src="assets/img/publicbackgrounds/OnlineResume-Portfolio.png" class="d-block w-100" alt="Portfolio project carousel image" />
                            </a>
                        </div>

                    </div>

                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselWithIndicators" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>

                    <button class="carousel-control-next" type="button" data-bs-target="#carouselWithIndicators" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

                <p class="text-muted my-2">
                    Click an image to view it full screen (opens a new tab).
                </p>

                <a href="https://rheeze.online/" class="btn btn-lg d-block mx-5 btn-primary mt-5 shadow" target="_blank">
                    <i class="fas fa-laptop-code"></i> Live Demo
                </a>

                <a href="https://github.com/rheeze-dev/BlogProject" class="btn btn-lg d-block mx-5 bg-dark text-white mt-3 shadow" target="_blank">
                    <i class="fab fa-github-square"></i> Github Repo
                </a>

                <h1 class="mt-5">Description</h1>

                <p>
                    This is my current online resume and portfolio. Technology used are Blazor WebAssembly, .NET 6, ASP.NET Core Web API, Entity Framework Core, 
                    HTML, CSS, and Bootstrap 5. The IDE used is Visual Studio 2022 and SQLite for the database. This is currently hosted via Microsoft Azure. 
                    This website seems to be a regular static website but it is not. It has a secured admin area with a Content Management System features 
                    using a data-driven ASP.NET Core Web API and a Blazor WebAssembly front end.
                </p>

                <h1 class="mt-5">Core Features</h1>
                <ul>
                    <li>.NET 6</li>
                    <li>ASP.NET Core Web API</li>
                    <li>Entity Framework Core</li>
                    <li>Blazor WebAssembly</li>
                    <li>IDE - Visual Studio 2022</li>
                    <li>Database - SQLite</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Bootstrap</li>
                </ul>
            </div>

            <div class="modal-footer">
                <button @onclick="CloseModal" type="button" class="btn btn-primary btn-lg shadow" data-bs-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

@if (_showBackdrop == true)
{
    <div class="modal-backdrop fade show"></div>
}

@code
{
    [Parameter] public EventCallback ParentMethodToCallOnClickBtnClose { get; set; }
    private string _modalDisplay = null;
    private string _modalClass = null;
    private bool _showBackdrop = false;

    protected override void OnInitialized() => ShowModal();

    private void ShowModal()
    {
        _modalDisplay = "block;";
        _modalClass = "show";
        _showBackdrop = true;
    }

    private void CloseModal()
    {
        _modalDisplay = "none;";
        _modalClass = string.Empty;
        _showBackdrop = false;
        ParentMethodToCallOnClickBtnClose.InvokeAsync();
    }
}