#test {
    /*border: 1px dotted black;*/
    display: flex;
    align-items: center; /* Vertical align the elements to the center */
}

h1 {
    margin: 0;
}

a {
    margin-left: auto; /* Push this element to the right */
}
